[Desktop Entry]
Name=Hibernate
Exec=\$HOME/bin/profile/hibernate.sh
Icon=/usr/share/icons/gnome/256x256/actions/system-shutdown.png
Terminal=true
Type=Application
StartupNotify=true
