[Desktop Entry]
Name=Hibernate
Exec=/home/olanneluc/bin/profile/hibernate.sh
Icon=system-shutdown.png
Terminal=true
Type=Application
StartupNotify=true
