[Desktop Entry]
Name=Hibernate
Exec=/bin/sh -c 'exec $HOME/.pbin/desktop/hibernate.sh'
Icon=system-shutdown
Terminal=true
Type=Application
StartupNotify=true
