[Desktop Entry]
Name=Mount private folder
Exec=/bin/sh -c 'exec $HOME/.pbin/mount-private.sh'
Icon=dialog-password
Terminal=true
Type=Application
StartupNotify=true
