[Desktop Entry]
Name=Hibernate
Exec=\$HOME/bin/profile/mount-private.sh
Icon=/usr/share/icons/gnome/256x256/status/dialog-password.png
Terminal=true
Type=Application
StartupNotify=true
