[Desktop Entry]
Version=1.0
Name=Sublime Text 3
Comment=Sublime Text 3 source editor
Exec=/bin/sh -c 'exec $HOME/.local/bin/sublime'
Icon=sublime-text
Terminal=false
Type=Application
Categories=Utility;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=/bin/sh -c 'exec $HOME/.local/bin/sublime'
OnlyShowIn=Unity;
