[Desktop Entry]
Name=User programs #1
Exec=/bin/sh -c 'exec $HOME/.local/bin/manual-start-1.sh'
Icon=go-first
Terminal=true
Type=Application
StartupNotify=true
